.App {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
a {
  text-decoration: none;
  color: inherit;
}

.content {
  margin-top: 100px;
}

/* Login page */
.Login {
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.LoginPage {
  position: fixed;
  top: 40%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
.RegisterPage {
  position: fixed;
  top: 40%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

/* Login page */

/* Register page */
.Register {
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Register page */

/* Eventpage */
.eventDisplay {
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
  .eventDisplay {
    margin-left: 11%;
  }
}

.eventCardDisplay {
  margin: 20px;
}

/* Event page */

/* singleEventDisplay */

.singleEventDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
  justify-content: center;
  margin-right: 10%;
  color: #6f7287;
}
.purchase-flex{
  display: flex;
  justify-content: center;
}

.singleEventDisplay img {
  width: 800px;
  height: 500px;
  object-fit: cover;
}

.singleEventDisplay h2 {
  justify-content: end;
}

.singleEventDisplay p {
  line-height: 25px;
}

/* singleEventDisplay */

.createEvent {
  margin-top: 50px;
  position: fixed;
  top: 40%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.create {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  color: #6f7287;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
